body{
    background-color:blueviolet;
}
h1{
    font-family: 'Roboto Mono';
}

p{
    font-family: 'Roboto Mono';
}
textarea {
    width: 90%;
    height: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
    resize: none;
    background-color: blueviolet;
}
button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: plum;
    color: black;
    border: black;
    border-radius: 20px;
    border-color: black;
    border-style: outset;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: blueviolet;
}